{% extends '../app.html' %}

{% block 'title' %}
commandes
{% endblock %}


{% block 'content' %}
{% load static %}
{% load humanize %}
<main id="main" class="main">

    <div class="pagetitle">
        <h1>Commandes</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Details de la commande</a></li>
                <li class="breadcrumb-item active">{{order.created_at|date:"dmy"}}B-iron{{order.id}}</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <section class="section">
        <div class="row">
            <div class="col-md-6 mt-2">
                <h6>FACTURE N° : <b>{{order.created_at|date:"dmy"}}B-iron{{order.id}}</b></h6>
                <h6>Date : <b>{{order.created_at}}</b></h6>
                <h6>Mode de livraison : <b>{{order.infoclient.mode_livraison}}</b></h6>
                <h6>Montant total: <b>{{order.get_prix_total|intcomma}} fcfa</b></h6>
            </div>
            <div class="col-md-6 mt-2">
                <h6>Nom du client : <b>{{order.infoclient.nom}}</b></h6>
                <h6>Telephone : <b>{{order.infoclient.telephone}}</b></h6>
                <h6>Adresse : <b>{{order.infoclient.adresse}} </b></h6>
            </div>
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <!-- Table with stripped rows -->
                        <table class="table table-striped">
                            <thead class=''>
                                <th>Produit</th>
                                <th>Description</th>
                                <th>Quantite</th>
                                <th>Prix ​​unitaire (fcfa)</th>
                                <th>Prix ​​total (fcfa)</th>
                            </thead>
                            <tbody>

                                {% for item in produits %}
                                <tr>
                                    <td>{{item.produit}}</td>
                                    <td>{{item.details}}
                                    <td>{{item.quantite}}</td>
                                    <td>{{item.prix|intcomma}}</td>
                                    <td>{{item.total|intcomma}}</td>
                                </tr>
                                {% endfor %}


                                <tr>
                                    <td colspan="11" class="text-center text-dark">
                                        <a class="btn btn-primary"
                                            href="{% url 'invoice_download' invoice_id=order.id %}"><i
                                                class="bi bi-download"></i></a>

                                        {% if status == "en_attente" %}
                                        <a href="{% url 'change.status' orderId %}"
                                            class="btn btn-warning text-lg">{{status}} <i
                                                class="bi bi-arrow-right-circle"></i></a>
                                        {%endif%}
                                        {% if status == "en_production" %}
                                        <a href="{% url 'change.status' orderId %}"
                                            class="btn btn-primary text-lg">{{status}} <i
                                                class="bi bi-arrow-right-circle"></i></a>
                                        {%endif%}
                                        {% if status == "pret_pour_livraison" %}
                                        <a href="{% url 'change.status' orderId %}"
                                            class="btn btn-info text-lg">{{status}} <i
                                                class="bi bi-arrow-right-circle"></i></a>

                                        {%endif%}
                                        {% if status == "solde_facture" %}
                                        <a href="{% url 'change.status' orderId %}"
                                            class="btn btn-secondary text-lg">{{status}} <i
                                                class="bi bi-arrow-right-circle"></i></a>

                                        {%endif%}
                                        {%if status == "termine" %}
                                        <a class="btn btn-success text-lg">{{status}}</a>
                                        {%endif%}


                                        <!-- <img src="{% static 'nodata.png'%}" alt="" height="100px">
                                        <br>
                                        <span> Aucune commande n'a ete trouver</span> -->
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="5"></td>
                                </tr>
                                <tr>
                                    <td colspan="3" style="text-align: right;"><b>Montant HT :</b></td>
                                    <td colspan="2"><b>{{totals|intcomma}}FCFA</b></td>
                                </tr>
                                <tr>
                                    <td colspan="3" style="text-align: right;"><b>TVA 19,25%</b></td>
                                    <td colspan="2"><b>{{order.montant_tva|intcomma}} FCFA</b></td>
                                </tr>
                                <tr>
                                    <td colspan="3" style="text-align: right;"><b>Montant TTC :</b></td>
                                    <td colspan="2"><b>{{order.net_payer|intcomma}} FCFA</b></td>
                                </tr>
                                <tr>

                                    <td colspan="3" style="text-align: right;"><b
                                            style="background-color: rgb(43, 255, 0);">ACOMPTE
                                            30% :</b></td>
                                    <td colspan="2"><b
                                            style="background-color: rgb(43, 255, 0);">{{order.get_tranche1|intcomma}}
                                            FCFA</b></td>
                                </tr>
                                <tr>

                                    <td colspan="3" style="text-align: right;"><b
                                            style="background-color: rgb(64, 219, 32);">SOLDE
                                            70% :</b></td>
                                    <td colspan="2"><b
                                            style="background-color: rgb(43, 255, 0);">{{order.get_tranche2|intcomma}}
                                            FCFA</b></td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- End Table with stripped rows -->
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- Basic Modal -->


</main>
{%endblock%}