{% extends '../app.html' %}

{% block 'title' %}
commandes
{% endblock %}


{% block 'content' %}
{% load static %}
{% load humanize %}
<main id="main" class="main">

    <div class="pagetitle">
        <h1>Commandes</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Commandes</a></li>
                <li class="breadcrumb-item active">Porte feuille client</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <!-- Table with stripped rows -->
                        <table class="table datatable">
                            <thead>
                                <tr>
                                    <th>Clients</th>
                                    <th>nombre commande</th>
                                    <th>Montant</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for user in users %}
                                <tr>
                                    <td>{{user.last_name}},{{user.first_name}}</td>
                                    <td>{{user.nb_commande}}</td>
                                    <td>{{user.montant|intcomma}} fcfa</td>

                                    <td class='text-center'>
                                        <a href="{% url 'order.users' user.id %}" class='btn btn-info' name='supprimer'>detail</a>
                                    </td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="4" class="text-center">
                                        <img src="{% static 'nodata.png'%}" alt="" height="100px">
                                        <br>
                                        <span>Acun client n'a ete trouve</span>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <!-- End Table with stripped rows -->
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- Basic Modal -->


</main>
{%endblock%}