{% load static %}
<div id="top-bar" class="top-bar">
  <div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-8">
          <ul class="top-info text-center text-md-left">
              <li><i class="fas fa-map-marker-alt"></i> <p class="info-text">Douala, Cameroun</p>
              </li>
          </ul>
        </div>
        <!--/ Top info end -->
        <div class="col-lg-4 col-md-4 top-social text-center text-md-right">
          <ul class="list-unstyled">
              <li>
                <a title="Facebook" href="https://www.facebook.com/profile.php?id=61578146736813">
                    <span class="social-icon"><i class="fab fa-facebook-f"></i></span>
                </a>
                <a title="Twitter" href="https://api.whatsapp.com/send?phone=237659151405">
                    <span class="social-icon"><i class="fab fa-whatsapp"></i></span>
                </a>
                <a title="Instagram" href="https://www.linkedin.com/company/bending-iron/">
                    <span class="social-icon"><i class="fab fa-linkedin-in"></i></span>
                </a>
                <a title="Linkdin" href="https://www.tiktok.com/@dfmac7?_t=8qtvTxG8TMT&_r=1">
                    <span class="social-icon"><i class="fab fa-tiktok"></i></span>
                </a>
              </li>
          </ul>
        </div>
        <!--/ Top social end -->
    </div>
    <!--/ Content row end -->
  </div>
  <!--/ Container end -->
</div>

<!--/ Topbar end -->