{% extends 'appf.html' %}

{% block 'title' %}
detail
{% endblock %}
{% block 'content' %}
{% load static %}
{% load humanize %}
<style>
    #progress-bar {
        display: table;
        width: 100%;
        margin: 0;
        padding: 15px 15px 0;
        table-layout: fixed;
        width: 100%;
        counter-reset: step;

        li {
            list-style-type: none;
            display: table-cell;
            width: 20%;
            float: left;
            font-size: 16px;
            position: relative;
            text-align: center;

            &:before {
                width: 50px;
                height: 50px;
                color: #212121;
                content: counter(step);
                counter-increment: step;
                line-height: 50px;
                font-size: 18px;
                border: 1px solid grey;
                display: block;
                text-align: center;
                margin: 0 auto 10px auto;
                border-radius: 50%;
                background-color: #fff;
            }

            &:after {
                width: 100%;
                height: 10px;
                content: "";
                position: absolute;
                background-color: black;
                top: 25px;
                left: -50%;
                z-index: -1;
            }

            &:first-child:after {
                content: none;
            }

            &.step-done {
                color: #ffb600;

                &:before {
                    border-color: #ffb600;
                    background-color: #ffb600;
                    color: #fff;
                    font-family: "FontAwesome";
                }

                &+li:after {
                    /* ici */
                    background-color: #ffb600;
                }
            }

            &.step-active {
                color: #ffb600;

                &:before {
                    border-color: #ffb600;
                    background-color: #ffb600;
                    color: #fff;
                    font-weight: 700;
                }

                &+li:after {
                    /* ici */
                    background-color: #ffb600;
                }
            }
        }
    }
</style>

<div class="row div">
    <!-- <h1>Tous les commandes de l'utilisateur non terminer</h1> -->
    <ol id="progress-bar">
        <li class="step-done">Commande enregistree </li>

        {% if status == "en_attente" %}
        <li class="step-todo">En production</li>
        <li class="step-todo">Pret pour livraison</li>
        <li class="step-todo">Solde ma facture</li>
        <li class="step-todo">Livraison termine</li>
        {% endif %}
        {% if status == "en_production" %}
        <li class="step-active">En production</li>
        <li class="step-todo">Pret pour livraison</li>
        <li class="step-todo">Solde ma facture</li>
        <li class="step-todo">Livraison termine</li>
        {% endif %}
        {% if status == "pret_pour_livraison" %}
        <li class="step-active">En production</li>
        <li class="step-active">Pret pour livraison</li>
        <li class="step-todo">Solde ma facture</li>
        <li class="step-todo">Livraison termine</li>
        {% endif %}
        {% if status == "solde_facture" %}
        <li class="step-active">En production</li>
        <li class="step-active">Pret pour livraison</li>
        <li class="step-active">Solde ma facture</li>
        <li class="step-todo">Livraison termine</li>
        {% endif %}
        {% if status == "termine" %}
        <li class="step-active">En production</li>
        <li class="step-active">Pret pour livraison</li>
        <li class="step-active">Solde ma facture</li>
        <li class="step-active">Livraison termine</li>
        {% endif %}
    </ol>
</div>
<section class="content project-area">
    <div class="container border shadow">
        <div class="row">
            <div class="col-md-4">
                <b>Nom du projet</b> : {{order.projet.name}} <br>
                <b>Partenaire</b> : {{order.projet.partenariat}} <br>
                <b>Date </b>: {{order.created_at}} <br>
                <br>
            </div>
        </div>
        <div class="row">
            <div class='col-md-7'>
                <table class="table table-responsive">
                    <thead class='bg-warning'>
                        <th>Produit</th>
                        <th>Description</th>
                        <th>Quantite</th>
                    </thead>
                    <tbody>
                        {% for item in produits %}
                        <tr>
                            <td>{{item.produit}}</td>
                            <td>{{item.details}}
                            <td>{{item.quantite}}</td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="3"><b>
                                    <button id="downloadBtn" class="btn btn-warning download_btn"
                                        data-url="{% url 'download-bon' order.id %}">
                                        <i class="fas fa-download"></i>
                                        <span id="btnText" class="btn_text"></span>
                                        <span id="spinner" class="spinner-border spinner-border-sm d-none" role="status"
                                            aria-hidden="true"></span>
                                    </button> </td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!--/ Container end -->
</section><!-- Content end -->

<script>
    document.querySelectorAll(".download_btn").forEach(function (btn) {
        btn.addEventListener("click", function () {
            //let btn = this;
            //let spinner = document.getElementById("spinner");
            let spinner = btn.querySelector(".spinner-border");
            //let btnText = document.querySelector(".btn_text");
            let url = btn.dataset.url;

            // Affiche le spinner
            spinner.classList.remove("d-none");
            //btnText.textContent = "Téléchargement...";
            btn.disabled = true;

            // Téléchargement via fetch
            fetch(url)  // 👈 ta vue Django
                .then(response => {
                    // Récupérer le header Content-Disposition pour le nom
                    let disposition = response.headers.get("Content-Disposition");
                    let filename = "download.pdf"; // nom par défaut

                    if (disposition && disposition.indexOf("filename=") !== -1) {
                        filename = disposition.split("filename=")[1].replace(/"/g, "");
                    }
                    return response.blob().then(blob => ({ blob, filename }));
                })
                .then(({ blob, filename }) => {
                    let url = window.URL.createObjectURL(blob);
                    let a = document.createElement("a");
                    a.href = url;
                    a.download = filename;
                    document.body.appendChild(a);
                    a.click();
                    a.remove();

                    // Reset bouton
                    spinner.classList.add("d-none");
                    //btnText.textContent = "Telechargé";
                    btn.disabled = false;
                })
                .catch(error => {
                    console.error("Erreur téléchargement :", error);
                    spinner.classList.add("d-none");
                    btnText.textContent = "Réessayer";
                    btn.disabled = false;
                });
        });
    });
</script>

{% endblock %}