<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url 'admin.index' %}">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li><!-- End Dashboard Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-menu-button-wide"></i><span>Commandes</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="{% url 'order.list' %}">
            <i class="bi bi-circle"></i><span>Liste</span>
          </a>
        </li>
        <!-- <li>
          <a href="components-accordion.html">
            <i class="bi bi-circle"></i><span>Machines</span>
          </a>
        </li> -->
      </ul>
    </li><!-- End Components Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-journal-text"></i><span>Produits</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="{% url 'admin.stock.list' %}">
            <i class="bi bi-circle"></i><span>Produits</span>
          </a>
        </li>
        <li>
          <a href="">
            <i class="bi bi-circle"></i><span>Caracteristiques</span>
          </a>
        </li>
      </ul>
    </li><!-- End Forms Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-layout-text-window-reverse"></i><span>Stocks</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="{% url 'admin.fer.list' %}">
            <i class="bi bi-circle"></i><span>Produits</span>
          </a>
          <a href="{% url 'admin.mouvement' %}">
            <i class="bi bi-circle"></i><span>Entrees</span>
          </a>
        </li>
      </ul>
  </li><!-- End Tables Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-wrench"></i><span>Nos machines</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="charts-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="">
            <i class="bi bi-circle"></i><span>Machines</span>
          </a>
        </li>
        <li>
          <a href="">
            <i class="bi bi-circle"></i><span>Multimedias</span>
          </a>
        </li>
      </ul>
    </li>

    {% comment %} <li class="nav-item">
      <a class="nav-link " data-bs-target="#icons-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-gem"></i><span>Temoignage</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="icons-nav" class="nav-content collapse show" data-bs-parent="#sidebar-nav">
        <li>
          <a href="{% url 'admin.temoignage.list' %}" class="active">
            <i class="bi bi-circle"></i><span>Liste</span>
          </a>
        </li>
      </ul>
    </li><!-- End Icons Nav --> {% endcomment %}

    <li class="nav-heading">Pages</li>

    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url 'contact.list' %}">
        <i class="bi bi-envelope"></i>
        <span>Contact</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url 'admin.temoignage.list' %}">
        <i class="bi bi-chat-left-quote"></i>
        <span>Temoignages</span>
      </a>
    </li><!-- End Blank Page Nav -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="">
        <i class="bi bi-chat-left-dots"></i>
        <span>Commentaires</span>
      </a>
    </li><!-- End Blank Page Nav -->
    {% if user.is_superuser %}
    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url 'user.list' %}">
        <i class="bi bi-people"></i>
        <span>Utilisateurs</span>
      </a>
    </li>
   {%endif%}
    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url 'font.index' %}">
          <i class="bi bi-house-door"></i>
          <span>Accueil</span>
      </a>
  </li>
    <li class="nav-item">
      <a class="nav-link collapsed text-danger" href="{% url 'logout' %}">
        <i class="bi bi-box-arrow-in-right"></i>
        <span>Deconnection</span>
      </a>
    </li><!-- End Login Page Nav -->
  </ul>
</aside><!-- End Sidebar-->