{% extends '../app.html' %} {% block 'title' %} partenariats {% endblock %} {

{% block 'content' %} {% load static %}
<main id="main" class="main">
  <div class="pagetitle">
    <h1>Partenariats</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">Partenariat</li>
        <li class="breadcrumb-item active">Liste des partenaires</li>
      </ol>
    </nav>
  </div>
  <!-- End Page Title -->
  <section class="section">
    <a class="btn btn-primary" href="{% url 'partenariat.create' %}">Ajouter un partenariat</a>
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <br />
            {% if messages %} {% for message in messages %}
            <div
              class="alert alert-success alert-dismissible fade show"
              role="alert"
            >
              {{ message }}!
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="alert"
                aria-label="Close"
              ></button>
            </div>
            {% endfor %} {% endif %}
            <!-- Table with stripped rows -->
            <table class="table datatable">
              <thead>
                <tr>
                  <th>Nom entreprise</th>
                  <th>Email</th>
                  <th>Adresse</th>
                  <th>Telephone</th>
                  <th>Nom interimaire</th>
                  <th>Date de debut</th>
                  <th>Date de fin</th>
                  <th>Statut</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                {% for partenariat in partenariats %}
                <tr>
                  <td>{{partenariat.name}}</td>
                  <td>{{partenariat.email}}</td>
                  <td>{{partenariat.adresse}}</td>
                  <td>{{partenariat.telephone}}</td>
                  <td>{{partenariat.user}}</td>
                  <td>{{partenariat.date_debut}}</td>
                  <td>{{partenariat.date_fin}}</td>
                  <td class="">
                    {% if partenariat.is_expired %}
                    <span class="text-success">termine</span>
                    {% else %}
                    <span class="text-warning">en cour</span>
                    {% endif %}
                  </td>
                  <td>
                    <a href="{% url 'partenariat.update' partenariat.id %}" class="btn btn-primary"
                      ><i class="bi bi-pencil-square"></i
                    ></a>
                    <a href="{% url 'partenariat.detail' partenariat_id=partenariat.id %}" class="btn btn-warning">detail</a>
                  </td>
                </tr>
                {% empty %}
                <tr>
                  <td colspan="4" class="text-center">
                    <img src="{% static 'nodata.png'%}" alt="" height="100px" />
                    <br />
                    <span>Acun partenariats trouver</span>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <!-- End Table with stripped rows -->
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{%endblock%}
