{% extends 'appf.html' %}

{% block 'title' %}
detail
{% endblock %}


{% block 'content' %}
{% load static %}

<style>
    h4 {
        text-transform: initial;
        font-weight: normal;
    }
</style>

<section class="content project-area solid-bg">
    <div class="container border shadow py-2 my-2">
        <div class="row">
            <div class="col-lg-12 "><br>
                <h3 class="column-title bg-warning p-3 text-center">Parametre du {{product.nom}}</h3>
            </div><!-- Col end -->
        
        <!-- insersion des info -->
        
    
        <div class="col-lg-7 ml-5">
            <!-- label et input ici-->
             <form action="" method="post">
                    {% csrf_token %}

                    <input type="hidden" id="val" value={{val}}>
                    <div class="row">
                        <div class="col">
                            <h4 class="">{{form.fer.label}}</h4>
                        </div>
                        <div class="col">
                            {{ form.fer }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <h4 class=""><b>M. </b>{{form.choix2.label}}</h4>
                        </div>
                        <div class="col">
                            {{ form.choix2 }}
                        </div>
                    </div>
                </br>
                    <div class="row">
                        <div class="col">
                            <h4 class=""><b>Ang. </b>{{form.choix.label}}</h4>
                        </div>
                        <div class="col">
                            {{ form.choix }}
                        </div>
                    </div>
                </br>
                    <div class="row">
                        <div class="col">
                            <h4 class="text-secondary"><b>R. </b>{{form.rayonCourbure.label}}</h4>
                        </div>
                        <div class="col">
                            {{ form.rayonCourbure}}
                            <div id="rayonCourbure-error" class="error-message" style="color: red; display: none;"></div>
                        </div>
                    </div>
                </br>
                    <div class="row">
                        <div class="col">
                            <h4 class="text-secondary"><b>Ldf. </b>{{form.longueurDepartFin.label}}</h4>
                        </div>
                        <div class="col">
                            {{ form.longueurDepartFin}}
                            <div id="longueurDepartFin-error" class="error-message" style="color: red; display: none;"></div>
                        </div>
                    </div>
                </br>
                    <div class="row">
                        <div class="col">
                            <h4 class=""><b>A. </b>{{form.longueurCote.label}}</h4>
                        </div>
                        <div class="col">
                            {{ form.longueurCote}}
                            <div id="longueurCote-error" class="error-message" style="color: red; display: none;"></div>
                        </div>
                    </div>
                </br>
                    <div class="row">
                        <div class="col">
                            <h4 class="text-secondary">{{form.longueurTotal.label}}</h4>
                        </div>
                        <div class="col">
                            {{ form.longueurTotal}}
                            <div id="longueurTotal-error" class="error-message" style="color: red; display: none;"></div>
                        </div>
                    </div>
                </br>
                    <div class="row">
                        <div class="col">
                            <h4 class="">{{form.quantite.label}}</h4>
                        </div>
                        <div class="col">
                            {{ form.quantite}}
                            <div id="quantite-error" class="error-message" style="color: red; display: none;"></div>
                        </div>
                    </div>

                    

        </div>

        <div class="col-lg-4">
            <!-- image prix unitaire prix total -->
             <div class="latest-post-media">
                    <a href="" class="latest-post-img">
                        <img loading="lazy" class="img-fluid border" src="{{product.imageshop2d.url}}"
                            alt="img">
                    </a>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <h4 class="">{{form.prix.label}} (fcfa)</h4>
                    </div>
                    <div class="col">
                        {{ form.prix }}                    
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h4 class="">{{form.prixTotal.label}} (fcfa)</h4>
                    </div>
                    <div class="col">
                        {{ form.prixTotal }}                    
                    </div>
                </div>
        </div>

    </div>

        <div class="row mb-3">
            <div class="col-lg-6 text-center "><br>
                <a class="btn btn-secondary" href="{% url 'produit.detail' product.id%}">
                    Precedent
                </a>
            </div><!-- Col end -->
            <div class="col-lg-6 text-center"><br>
                {% if user.is_authenticated %}
                <button class="btn btn-warning ">
                    Ajouter au panier
                </button>
                {% else %}
                    <a class="btn btn-danger" href="{% url 'login' %}">Connecter vous pour ajouter au panier</a>
                {% endif %}
            </div><!-- Col end -->
        </div>
    </form>
        <!--/ Content row end -->
    </div>
    <!--/ Container end -->
</section><!-- Content end -->

<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Récupérer les éléments du formulaire
        let diametereField = document.getElementById('diametre')
        let angeField = document.getElementById('angle')
        let rayonField = document.getElementById('rayonCourbure')
        let longueurdptField = document.getElementById('longueurDepart')
        let longueurCoteError = document.getElementById('longueurCote-error');  // Élément pour afficher l'erreur
        let longueurCoteField = document.getElementById('longueurCote');
        let longueurTotalField = document.getElementById('longueurTotal');
        let prixField = document.getElementById('prix-id');
        let prixTotalField = document.getElementById('prix-total');
        let quantiteField = document.getElementById('quantite'); // Quantité de cadre
        let val = document.getElementById('val');
       

        // Fonction pour effectuer les calculs
        const updateFields = () => {
            //fer
            let fer =document.querySelector('input[name="fer"]:checked')?.value
            // Récupérer les valeurs des champs
            let longueurCote = parseFloat(longueurCoteField.value || 0);
            let diametre = parseInt(diametereField.value)
            let ange = parseFloat(angeField.value || 180)
            let quantite = parseFloat(quantiteField.value || 1);

           //calcule rayon, longueur de depart
            rayonField.value = 5*diametre
            longueurdptField.value = 5*diametre
            diametereField.value = diametre
            angeField.value = ange
           
            // Vérification de la valeur minimale pour longueurCote
            if (longueurCote < 1 || longueurCote > 1000) {
                // Afficher le message d'erreur
                longueurCoteError.textContent = "comprise entre 1-1000";
                longueurCoteError.style.display = "block"; // Afficher le message
                // longueurCote = 80;  // Fixer la valeur à 8 si elle est inférieure
                longueurCoteField.value = longueurCote;  // Mettre à jour le champ avec la valeur corrigée
            } else {
                // Cacher le message d'erreur si la valeur est valide
                longueurCoteError.style.display = "none";
            }
            // Calcul de la longueur totale du cadre
            let longueurTotal = 0
            
               longueurTotal = (2*longueurCote) + (24.5*diametre)
           
              // Exemple de calcul, modifiez-le selon votre logique
            longueurTotalField.value = longueurTotal.toFixed(2); // Afficher la longueur totale dans le champ --> -->
            
            const donnees = JSON.parse('{{constantes|safe|escapejs}}');
            let taxe = donnees.taxe;
            let taux = donnees.taux;
            let prixferCon = "m" + diametre
            //coeficient fonction du fer
            let prixfer = donnees[prixferCon]
            let prix_revient=0;

            switch (diametre) {
                case 6:
                    prix_revient=30
                    break
                case 8:
                    prix_revient=32
                    break
                case 10:
                    prix_revient=34
                    break
                case 12:
                    prix_revient=36
                    break
            }
            let prixUnitaire = 0
            let cal2=prix_revient+(prixfer*longueurTotal)
            let  cal3=prixfer*10
            if (fer === 'bending iron') {
                cal4=cal2+cal3
                cal5=cal4 + (cal4*taux)
                prixUnitaire=cal5
            } 
            if (fer === 'le client') {
                prixUnitaire=6+prix_revient + (cal2+cal3)*taux; // Exemple de calcul
            }

            prixField.value = Math.ceil(prixUnitaire); // Afficher le prix unitaire dans le champ

            let prixTotal = (prixUnitaire*quantite);
            prixTotalField.value = Math.ceil(prixTotal); // Afficher le prix total dans le champ -->*/
        };

        // Mettre à jour les valeurs dès qu'un champ change
        const fieldsToWatch = [
            longueurCoteField,
            quantiteField,
            fer,
            rayonField,
            longueurdptField,
            diametereField,
            angeField,
            prixField,
            prixTotalField
        ];

        fieldsToWatch.forEach(field => {
            field.addEventListener('input', updateFields); // Recalcule lorsque l'utilisateur modifie la valeur d'un champ
        });

        // Mettre à jour les champs lors de l'initialisation
        updateFields();
    });

</script>

{% endblock%}