{% extends 'appf.html' %}

{% block 'title' %}
detail
{% endblock %}


{% block 'content' %}
{% load static %}
<style>
    h4 {
        text-transform: initial;
        font-weight: normal;
    }
</style>

<section class="content project-area solid-bg">
    <div class="container border shadow py-2 my-2">
        <div class="row">
            <div class="col-lg-12 "><br>
                <h3 class="column-title bg-warning p-3 text-center">Parametre  de {{product.nom}}</h3>
            </div><!-- Col end -->
        
        <!-- insersion des info -->
        
    
        <div class="col-lg-7 ml-5">
            <!-- label et input ici-->
             <form action="" method="post">
                    {% csrf_token %}

                    <input type="hidden" id="val" value={{val}}>
                    <div class="row">
                        <div class="col">
                            <h4 class="">{{form.fer.label}}</h4>
                        </div>
                        <div class="col">
                            {{ form.fer }}
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col">
                            <h4 class="">{{form.choix2.label}}</h4>
                        </div>
                        <div class="col">
                            {{ form.choix2 }}
                        </div>
                    </div>
                </br>
                    <div class="row">
                        <div class="col">
                            <h4 class=""><b>A. </b>{{form.hauteur.label}}</h4>
                        </div>
                        <div class="col">
                            {{ form.hauteur}}
                            <div id="hauteur-error" class="error-message" style="color: red; display: none;"></div>
                        </div>
                    </div>
                </br>
                    <div class="row">
                        <div class="col">
                            <h4 class=""><b>B. </b>{{form.largeur.label}}</h4>
                        </div>
                        <div class="col">
                            {{ form.largeur}}
                            <div id="largeur-error" class="error-message" style="color: red; display: none;"></div>
                        </div>
                    </div>
                </br>
                    <div class="row">
                        <div class="col">
                            <h4 class=""><b>C. </b>{{form.hauteurFiletage.label}}</h4>
                        </div>
                        <div class="col">
                            {{ form.hauteurFiletage}}
                            <div id="hauteurFiletage-error" class="error-message" style="color: red; display: none;"></div>
                        </div>
                    </div>
                </br>
    
                <div class="row">
                        <div class="col">
                            <h4 class="text-secondary">{{form.longueurTotal.label}}</h4>
                        </div>
                        <div class="col">
                            {{ form.longueurTotal}}
                            <div id="longueurTotal-error" class="error-message" style="color: red; display: none;"></div>
                        </div>
                        </div>
                    </br>
                    
                    <div class="row">
                        <div class="col">
                            <h4 class="">{{form.quantite.label}}</h4>
                        </div>
                        <div class="col">
                            {{ form.quantite}}
                            <div id="quantite-error" class="error-message" style="color: red; display: none;"></div>
                        </div>
                    </div>

                    

        </div>

        <div class="col-lg-4">
            <!-- image prix unitaire prix total -->
             <div class="latest-post-media">
                    <a href="" class="latest-post-img">
                        <img loading="lazy" class="img-fluid border" src="{{product.imageshop2d.url}}"
                            alt="img">
                    </a>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <h4 class="">{{form.prix.label}} (fcfa)</h4>
                    </div>
                    <div class="col">
                        {{ form.prix }}                    
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h4 class="">{{form.prixTotal.label}} (fcfa)</h4>
                    </div>
                    <div class="col">
                        {{ form.prixTotal }}                    
                    </div>
                </div>
        </div>

    </div>

        <div class="row mb-3">
            <div class="col-lg-6 text-center "><br>
                <a class="btn btn-secondary" href="{% url 'produit.detail' product.id%}">
                    Precedent
                </a>
            </div><!-- Col end -->
            <div class="col-lg-6 text-center"><br>
                {% if user.is_authenticated %}
                <button class="btn btn-warning ">
                    Ajouter au panier
                </button>
                {% else %}
                    <a class="btn btn-danger" href="{% url 'login' %}">Connecter vous pour ajouter au panier</a>
                {% endif %}
            </div><!-- Col end -->
        </div>
    </form>
        <!--/ Content row end -->
    </div>
    <!--/ Container end -->
</section><!-- Content end -->

<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Récupérer les éléments du formulaire
        let diametereField = document.getElementById('diametre');
        //let angeField = document.getElementById('angle')
        //let rayonField = document.getElementById('rayonCourbure');
        //let longueurdptField = document.getElementById('longueurDepart');
        let hauteurField = document.getElementById('hauteur');
        let hauteurError = document.getElementById('hauteur-error');  // Élément pour afficher l'erreur
        let largeurField = document.getElementById('largeur');
        let largeurError = document.getElementById('largeur-error');
        let hauteurFiletageField = document.getElementById('hauteurFiletage');
        let hauteurFiletageError = document.getElementById('hauteurFiletage-error');
        let longueurTotalField = document.getElementById('longueurTotal');
        let prixField = document.getElementById('prix-id');
        let prixTotalField = document.getElementById('prix-total');
        let quantiteField = document.getElementById('quantite'); // Quantité de cadre
        let val = document.getElementById('val');
       

        // Fonction pour effectuer les calculs
        const updateFields = () => {
            //fer
            let fer =document.querySelector('input[name="fer"]:checked')?.value
            // Récupérer les valeurs des champs
            let diametre = parseInt(diametereField.value);
            let hauteurCote = parseFloat(hauteurField.value || 0);
            let largeurCote = parseFloat(largeurField.value || 0);
            let hauteurFiletageCote = parseFloat(hauteurFiletageField.value || 0)
            //let ange = parseFloat(angeField.value || 90)
            let quantite = parseFloat(quantiteField.value || 1);

           //calcule rayon, longueur de depart
            //rayonField.value = 5*diametre
            //longueurdptField.value = 5*diametre
            diametereField.value = diametre
            //angeField.value = ange
            // Vérification de la valeur minimale pour longueurCote
            if (hauteurCote < 30 || hauteurCote > 580) {
                // Afficher le message d'erreur
                hauteurError.textContent = "comprise entre 30-580";
                hauteurError.style.display = "block"; // Afficher le message
                // longueurCote = 80;  // Fixer la valeur à 8 si elle est inférieure
                hauteurField.value = hauteurCote;  // Mettre à jour le champ avec la valeur corrigée
            } else {
                // Cacher le message d'erreur si la valeur est valide
                hauteurError.style.display = "none";
            }
            if (largeurCote < 15 || largeurCote > 512) {
                // Afficher le message d'erreur
                largeurError.textContent = "comprise entre 15-512";
                largeurError.style.display = "block"; // Afficher le message
                // longueurCote = 80;  // Fixer la valeur à 8 si elle est inférieure
                largeurField.value = largeurCote;  // Mettre à jour le champ avec la valeur corrigée
            } else {
                // Cacher le message d'erreur si la valeur est valide
                largeurError.style.display = "none";
            }
            if (hauteurFiletageCote < 15 || hauteurFiletageCote > 110) {
                // Afficher le message d'erreur
                hauteurFiletageError.textContent = "comprise entre 15-110";
                hauteurFiletageError.style.display = "block"; // Afficher le message
                // longueurCote = 80;  // Fixer la valeur à 8 si elle est inférieure
                hauteurFiletageField.value = hauteurFiletageCote;  // Mettre à jour le champ avec la valeur corrigée
            } else {
                // Cacher le message d'erreur si la valeur est valide
                hauteurFiletageError.style.display = "none";
            }

             // Calcul de la longueur totale du cadre
            let longueurTotal = 0
            if(ange=90){
               longueurTotal = (2*hauteurCote)+(largeurCote) 
            }else{
               longueurTotal = (2*hauteurCote)+(largeurCote)
            }
              // Exemple de calcul, modifiez-le selon votre logique
            longueurTotalField.value = longueurTotal.toFixed(2); // Afficher la longueur totale dans le champ --> -->
            
            const donnees = JSON.parse('{{constantes|safe|escapejs}}');
            let taxe = donnees.taxe;
            let taux = donnees.taux;
            let prixferCon = "m" + diametre
            //coeficient fonction du fer
            let prixfer = donnees[prixferCon]
            let prix_revient=0
             switch (diametre) {
                case 6:
                    prix_revient=80
                    break
                case 8:
                    prix_revient=100
                    break
                case 10:
                    prix_revient=120
                    break
                case 12:
                    prix_revient=140
                    break
                case 14:
                    prix_revient=160
                    break
                case 16:
                    prix_revient=180
                    break
                case 20:
                    prix_revient=220
                    break
            }

            let prixUnitaire = 0
            
            if (fer === 'bending iron') {
                prixUnitaire = 4+prix_revient+(4+prix_revient)*taux 
            } 
            if (fer === 'le client') {
                prixUnitaire =8+diametre+(8+diametre)*taux ; // Exemple de calcul
            }

            prixField.value = Math.ceil(prixUnitaire); // Afficher le prix unitaire dans le champ

            let prixTotal = (prixUnitaire*quantite);
            prixTotalField.value = Math.ceil(prixTotal); // Afficher le prix total dans le champ -->*/
        };

        // Mettre à jour les valeurs dès qu'un champ change
        const fieldsToWatch = [
            hauteurField,
            largeurField,
            hauteurFiletageField,
            quantiteField,
            fer,
            hauteurError,
            largeurError,
            hauteurFiletageError,
            //rayonField,
            //longueurdptField,
            prixField,
            prixTotalField,
            diametereField
            //angeField
        ];

        fieldsToWatch.forEach(field => {
            field.addEventListener('input', updateFields); // Recalcule lorsque l'utilisateur modifie la valeur d'un champ
        });

        // Mettre à jour les champs lors de l'initialisation
        updateFields();
    });

</script>

{% endblock%}