{% extends 'appf.html' %}

{% block 'title' %}
detail
{% endblock %}


{% block 'content' %}
{% load static %}
<section class="content project-area solid-bg">
    <div class="container border shadow py-2 my-2">
        <div class="row">
            <div class="col-lg-12 "><br>
                <h3 class="column-title bg-warning p-3 text-center">Parametre du cadre de ferraillage {{product.nom}}
                </h3>
            </div><!-- Col end -->
        </div>
        <!-- insersion des info -->


        <div class="col-lg-7">
            <!-- label et input ici-->
            <div class="row">
                {% extends 'appf.html' %}

                {% block 'title' %}
                detail
                {% endblock %}


                {% block 'content' %}
                {% load static %}
                <section class="content project-area solid-bg">
                    <div class="container border shadow py-2 my-2">
                        <div class="row">
                            <div class="col-lg-12 "><br>
                                <h3 class="column-title bg-warning p-3 text-center">Parametre du cadre de ferraillage
                                    {{product.nom}}</h3>
                            </div><!-- Col end -->
                        </div>
                        <!-- insersion des info -->
                        <form action="" method="post">
                            {% csrf_token %}

                            <div class="col-lg-7">
                                <!-- label et input ici-->
                                 <div class="col">
                                    <h4> label name</h4>
                                 </div>
                                 <div class="col">
                                    <!-- <input type="text" name="" id=""> -->
                                 </div>
                                 <br>
                            </div>

                            <div class="col-lg-5">
                                <!-- image prix unitaire prix total -->
                                <div class="latest-post-media">
                                    <a href="" class="latest-post-img">
                                        <img loading="lazy" class="img-fluid border" src="{{product.imageshop2d.url}}"
                                            alt="img">
                                    </a>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col">
                                        <h4 class="">{{form.prix.label}} (fcfa)</h4>
                                    </div>
                                    <div class="col">
                                        {{ form.prix }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <h4 class="">{{form.prixTotal.label}} (fcfa)</h4>
                                    </div>
                                    <div class="col">
                                        {{ form.prixTotal }}
                                    </div>
                                </div>
                            </div>



                            <div class="row">
                                <div class="col-lg-6 text-center "><br>
                                    <a class="btn btn-secondary" href="{% url 'produit.detail' product.id%}">
                                        Precedent
                                    </a>
                                </div><!-- Col end -->
                                <div class="col-lg-6 text-center"><br>
                                    {% if user.is_authenticated %}
                                    <button class="btn btn-warning ">
                                        Ajouter au panier
                                    </button>
                                    {% else %}
                                    <a class="btn btn-danger" href="{% url 'login' %}">Connecter vous pour ajouter au
                                        panier</a>
                                    {% endif %}
                                </div><!-- Col end -->
                            </div>
                        </form>
                        <!--/ Content row end -->
                    </div>
                    <!--/ Container end -->
                </section><!-- Content end -->
                {% endblock%}
            </div>

        </div>

        <div class="col-lg-5">
            <!-- image prix unitaire prix total -->
            <div class="latest-post-media">
                <a href="" class="latest-post-img">
                    <img loading="lazy" class="img-fluid border" src="{{product.imageshop2d.url}}" alt="img">
                </a>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <h4 class="">{{form.prix.label}} (fcfa)</h4>
                </div>
                <div class="col">
                    {{ form.prix }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h4 class="">{{form.prixTotal.label}} (fcfa)</h4>
                </div>
                <div class="col">
                    {{ form.prixTotal }}
                </div>
            </div>
        </div>



        <div class="row">
            <div class="col-lg-6 text-center "><br>
                <a class="btn btn-secondary" href="{% url 'produit.detail' product.id%}">
                    Precedent
                </a>
            </div><!-- Col end -->
            <div class="col-lg-6 text-center"><br>
                {% if user.is_authenticated %}
                <button class="btn btn-warning ">
                    Ajouter au panier
                </button>
                {% else %}
                <a class="btn btn-danger" href="{% url 'login' %}">Connecter vous pour ajouter au panier</a>
                {% endif %}
            </div><!-- Col end -->
        </div>
        </form>
        <!--/ Content row end -->
    </div>
    <!--/ Container end -->
</section><!-- Content end -->
{% endblock%}