{% extends '../app.html' %}

{% block 'title' %}
commandes
{% endblock %}


{% block 'content' %}
{% load static %}
{% load humanize %}
<main id="main" class="main">

    <div class="pagetitle">
        <h1>Commandes</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Details de la commande</a></li>
                <li class="breadcrumb-item active">{{order.created_at|date:"dmy"}}B-iron{{order.id}}</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <section class="section">
        <div class="row">
            <div class="col-md-6 mt-2">
                <h6>FACTURE N° : <b>{{order.created_at|date:"dmy"}}B-iron{{order.id}}</b></h6>
                <h6>Date : <b>{{order.created_at}}</b></h6>
                <h6>Mode de livraison : <b>{{order.infoclient.mode_livraison}}</b></h6>
                <h6>Montant total: <b>{{order.get_prix_total}} fcfa</b></h6>
            </div>
            <div class="col-md-6 mt-2">
                <h6>Nom du client : <b>{{order.infoclient.nom}}</b></h6>
                <h6>Telephone : <b>{{order.infoclient.telephone}}</b></h6>
                <h6>Adresse : <b>{{order.infoclient.adresse}} </b></h6>
            </div>
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <!-- Table with stripped rows -->
                        <table class="table table-striped">
                            <thead class=''>
                                <th>Produit</th>
                                <th>Description</th>
                                <th>Quantite</th>
                                <th>Prix ​​unitaire (fcfa)</th>
                                <th>Prix ​​total (fcfa)</th>
                            </thead>
                            <tbody>

                                {% for item in produits %}
                                <tr>
                                    <td>{{item.produit}}</td>
                                    <td>{{item.details}}
                                    <td>{{item.quantite}}</td>
                                    <td>{{item.prix}}</td>
                                    <td>{{item.total}}</td>
                                </tr>
                                {% endfor %}


                                <tr>
                                    <td colspan="11" class="text-center text-dark">
                                        {% comment %} <a class="btn btn-primary"
                                            href="{% url 'invoice_download' invoice_id=order.id %}"><i
                                                class="bi bi-download"></i></a> {% endcomment %}
                                        
                                         <button id="downloadBtn" class="btn btn-success download_btn"
                  data-url="{% url 'invoice_download' order.id %}">
                  <i class="fas fa-download"></i>
                  <span id="btnText" class="btn_text"></span>
                  <span id="spinner" class="spinner-border spinner-border-sm d-none" role="status"
                    aria-hidden="true"></span>
                </button>

                                        {% if status == "en_attente" %}
                                        <a href="{% url 'change.status' orderId %}"
                                            class="btn btn-warning text-lg">{{status}} <i
                                                class="bi bi-arrow-right-circle"></i></a>
                                        {%endif%}
                                        {% if status == "en_production" %}
                                        <a href="{% url 'change.status' orderId %}"
                                            class="btn btn-primary text-lg">{{status}} <i
                                                class="bi bi-arrow-right-circle"></i></a>
                                        {%endif%}
                                        {% if status == "pret_pour_livraison" %}
                                        <a href="{% url 'change.status' orderId %}"
                                            class="btn btn-info text-lg">{{status}} <i
                                                class="bi bi-arrow-right-circle"></i></a>

                                        {%endif%}
                                        {% if status == "solde_facture" %}
                                        <a href="{% url 'change.status' orderId %}"
                                            class="btn btn-secondary text-lg">{{status}} <i
                                                class="bi bi-arrow-right-circle"></i></a>

                                        {%endif%}
                                        {%if status == "termine" %}
                                        <a class="btn btn-success text-lg">{{status}}</a>
                                        {%endif%}


                                        <!-- <img src="{% static 'nodata.png'%}" alt="" height="100px">
                                        <br>
                                        <span> Aucune commande n'a ete trouver</span> -->
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="5"></td>
                                </tr>
                                <tr>
                                    <td colspan="3" style="text-align: right;"><b>Montant HT :</b></td>
                                    <td colspan="2"><b>{{totals}}FCFA</b></td>
                                </tr>
                                <tr>
                                    <td colspan="3" style="text-align: right;"><b>TVA 19,25%</b></td>
                                    <td colspan="2"><b>{{order.montant_tva}} FCFA</b></td>
                                </tr>
                                <tr>
                                    <td colspan="3" style="text-align: right;"><b>Montant TTC :</b></td>
                                    <td colspan="2"><b>{{order.net_payer}} FCFA</b></td>
                                </tr>
                                <tr>

                                    <td colspan="3" style="text-align: right;"><b
                                            style="background-color: rgb(43, 255, 0);">ACOMPTE
                                            30% :</b></td>
                                    <td colspan="2"><b
                                            style="background-color: rgb(43, 255, 0);">{{order.get_tranche1}}
                                            FCFA</b></td>
                                </tr>
                                <tr>

                                    <td colspan="3" style="text-align: right;"><b
                                            style="background-color: rgb(64, 219, 32);">SOLDE
                                            70% :</b></td>
                                    <td colspan="2"><b
                                            style="background-color: rgb(43, 255, 0);">{{order.get_tranche2}}
                                            FCFA</b></td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- End Table with stripped rows -->
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- Basic Modal -->


</main>
<script>
  document.querySelectorAll(".download_btn").forEach(function (btn) {
    btn.addEventListener("click", function () {
      //let btn = this;
      //let spinner = document.getElementById("spinner");
      let spinner = btn.querySelector(".spinner-border");
      //let btnText = document.querySelector(".btn_text");
      let url = btn.dataset.url;

      // Affiche le spinner
      spinner.classList.remove("d-none");
      //btnText.textContent = "Téléchargement...";
      btn.disabled = true;

      // Téléchargement via fetch
      fetch(url)  // 👈 ta vue Django
        .then(response => {
          // Récupérer le header Content-Disposition pour le nom
          let disposition = response.headers.get("Content-Disposition");
          let filename = "download.pdf"; // nom par défaut

          if (disposition && disposition.indexOf("filename=") !== -1) {
            filename = disposition.split("filename=")[1].replace(/"/g, "");
          }
          return response.blob().then(blob => ({ blob, filename }));
        })
        .then(({ blob, filename }) => {
          let url = window.URL.createObjectURL(blob);
          let a = document.createElement("a");
          a.href = url;
          a.download = filename;
          document.body.appendChild(a);
          a.click();
          a.remove();

          // Reset bouton
          spinner.classList.add("d-none");
          //btnText.textContent = "Telechargé";
          btn.disabled = false;
        })
        .catch(error => {
          console.error("Erreur téléchargement :", error);
          spinner.classList.add("d-none");
          btnText.textContent = "Réessayer";
          btn.disabled = false;
        });
    });
  });
</script>
{%endblock%}