<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>bending iron</title>
</head>

<body>
    <h3>Bonjour {{ user.first_name }} {{ user.last_name }},</h3>
    <br>
    <p>Nous avons le plaisir de vous informer que votre compte sur <a href="www.bending-iron.com">www.bending-iron.com</a> a été débloqué et est de nouveau
        accessible.
    </p>
    <p>En cas de besoin, notre équipe reste à votre disposition pour toute assistance.</p>
    <br>
    <p>Cordialement,</p>
    <p><b>L'équipe BENDING IRON.</b></p>
</body>

</html>