{% extends 'appf.html' %}

{% block 'title' %}
mot de pass oublier
{% endblock %}


{% block 'content' %}
{% load static %}
<section id="main-container" class="main-container">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mt-5 mt-lg-0">
            
            <div id="page-slider" class="page-slider small-bg">
  
                <div class="item" style="background-image:url({% static 'front/images/slider-pages/login1.jpg' %})">
                  <div class="container">
                      <div class="box-slider-content">
                        <div class="box-slider-text">
                            <h2 class="box-slide-title">Leadership</h2>
                        </div>    
                      </div>
                  </div>
                </div><!-- Item 1 end -->
  
                <div class="item" style="background-image:url({% static 'front/images/slider-pages/login2.jpg' %})">
                  <div class="container">
                      <div class="box-slider-content">
                        <div class="box-slider-text">
                            <h2 class="box-slide-title">Relationships</h2>
                        </div>    
                      </div>
                  </div>
                </div><!-- Item 1 end -->
  
                <div class="item" style="background-image:url({% static 'front/images/slider-pages/login3.jpg' %})">
                  <div class="container">
                      <div class="box-slider-content">
                        <div class="box-slider-text">
                            <h2 class="box-slide-title">Performance</h2>
                        </div>    
                      </div>
                  </div>
                </div><!-- Item 1 end -->
            </div><!-- Page slider end-->          
          
  
          </div><!-- Col end -->
          <div class="col-lg-6">
            <div class="mb-2">
                <div class="card-body">
                    <h1 class="text-center">Mot de passe oublier</h1>
                    <h6 class="text-center text-info">Un nouveau mot de passe vous sera envoyer par email ! </h6>

                    <!-- {% if messages %}

                    {% for message in messages %}

                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{ message }}!
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% if form.non_field_errors %}


                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        {{ form.non_field_errors }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>

                    {% endif %} -->
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="input mb-3">
                            <h6 for="email">EMAIL : </h6>
                            {{form.email}}
                        </div>
                        <div class="input mb-3">
                            <button class="btn btn-primary form-control">Réinitialiser</button>
                        </div>
                    </form>
                </div>
            </div>
          </div><!-- Col end -->
  
          
      </div><!-- Content row end -->
  
    </div><!-- Container end -->
  </section><!-- Main container end -->
{%endblock%}