{% extends '../app.html' %}

{% block 'title' %}
detail projet
{% endblock %}

{% block 'content' %}
{% load static %}
{% load humanize %}
{% load dict_extras %}
<main id="main" class="main">

    <div class="pagetitle">
        <h1>Partenariats</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Projets</li>
                <li class="breadcrumb-item active">{{projet.name}}</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4 mt-2">
                        <h6>Date du projet : <b>{{projet.created_at}}</b></h6>
                        <h6>Nom du partenaire : <b><a
                                    href="{% url 'partenariat.detail' projet.partenariat.id %}">{{projet.partenariat}}</a></b>
                        </h6>
                        <h6>Creer par: <b>{{projet.user}}</b></h6>
                        <h6>Remise: <b>{{projet.reduction}}%</b></h6>
                        <h6>Statut : <b>{{projet.get_statut}}</b> </h6>
                        <h6>Réalisation : <b>{{ projet.pourcentage_realisation }} %</b></h6>
                    </div>
                    <div class="col-md-4 mt-2">
                        <h6>Montant HT : <b>{{projet.montant_total|intcomma}} fcfa</b></h6>
                        <h6>Montant Apres remise : <b>{{projet.montant_apres_remise|intcomma}} fcfa</b></h6>
                        <h6>TVA : <b>{{projet.montant_tva|intcomma}} fcfa</b></h6>
                        <h6>Net a payer : <b>{{projet.net_payer|intcomma}} fcfa</b></h6>
                    </div>
                    <div class="col-md-4 mt-2">
                        <h6>Tranche 1 : <b>{{projet.tranche1|intcomma}} fcfa </b>

                            {% if projet.tranche1_payee %}
                            <i class="bi bi-check2-circle text-success"></i>
                            {% endif %}
                            </b>
                        </h6>
                        <h6>Tranche 2 : <b>{{projet.tranche2|intcomma}} fcfa </b> 
                            {% if projet.tranche2_payee %}
                            <i class="bi bi-check2-circle text-success"></i>
                            {% endif %}</b>
                        </h6>
                        <h6>Tranche 3 : <b>{{projet.tranche3|intcomma}} fcfa </b>{% if projet.tranche3_payee %}
                            <i class="bi bi-check2-circle text-success"></i>
                            {% endif %}</b>
                        </h6>
                        <h6><a href="" class="btn btn-outline-info">Voir historique</a>

                            <!-- Vertically centered Modal -->
                             
                             {% if projet.is_solde %}
                             {% else %} 
                             <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#verticalycentered">
                                <i class="bi bi-plus">Paiement</i>
                            </button>
                             {% endif %}
                        </h6>
                    </div>
                    <div class="col-md-12">
                        <table class="table datatable">
                            <thead>
                                <tr>
                                    <th>Produit</th>
                                    <th>Description</th>
                                    <th>Quantite total</th>
                                    <th>Quantite livre</th>
                                    <th>Quantite restante</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for produit in produits %}
                                <tr>
                                    <td>{{produit.produit}}</td>
                                    <td>{{produit.details}}</td>
                                    <td>{{produit.quantite}}</td>
                                    <td>{{produit.quantite_commande}}</td>
                                    <td>{{produit.quantite_restant}}</td>
                                </tr>
                                {%empty%}
                                <tr>
                                    <td colspan="4" class="text-center">
                                        <img src="{% static 'nodata.png'%}" alt="" height="100px" />
                                        <br />
                                        <span>Acun projet trouver</span>
                                    </td>
                                </tr>
                                {% endfor %}


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
    </section>
    <div class="modal fade" id="verticalycentered" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Paiement pour le projet : <b>{{ projet.name }}</b></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-success">Enregistrer le paiement</button>
                </div>
                </form>
            </div>
        </div>
    </div>
    </div><!-- End Vertically centered Modal-->
</main>

{% endblock %}