<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>bending iron</title>
</head>

<body>
    <h3>Bonjour {{ user.first_name }} {{ user.last_name }},</h3>
    <br>
    <p>Merci d’avoir créé votre compte sur www.bending-iron.com</p>
    <p>Dès maintenant, vous pouvez :</p>
    <ul>
        <li>Passer vos différentes commandes</li>
        <li>Suivre en temps réel l’avancement de vos commandes ;</li>
        <li>Demander vos devis en ligne ;</li>
    </ul>
    <p>Nous sommes ravis de vous compter parmi nos clients et restons a votre disposition pour toute assistance.</p>
    <br>
    <p>Cordialement,</p>
    <p><b>L'équipe BENDING IRON.</b></p>
</body>

</html>