{% extends 'app.html' %}

{% block 'title' %}
statistique
{% endblock %}


{% block 'content' %}
{% load static %}
{% load humanize %}
<main id="main" class="main">

    <div class="pagetitle">
        <h1>Dashboard</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Revenus annuel</h5>

                        <!-- Bar Chart -->
                        <canvas id="barChart" style="max-height: 400px;"></canvas>
                        <script>
                            document.addEventListener("DOMContentLoaded", () => {
                                new Chart(document.querySelector('#barChart'), {
                                    type: 'bar',
                                    data: {
                                        labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                                        datasets: [{
                                            label: 'Bar Chart',
                                            data: [65, 59, 80, 81, 56, 55, 40, 81, 56, 55, 40, 60],
                                            backgroundColor: [
                                                'rgba(255, 99, 130, 0.2)',
                                                'rgba(255, 159, 64, 0.2)',
                                                'rgba(255, 205, 86, 0.2)',
                                                'rgba(75, 192, 192, 0.2)',
                                                'rgba(54, 162, 235, 0.2)',
                                                'rgba(153, 102, 255, 0.2)',
                                                'rgba(201, 203, 207, 0.2)'
                                            ],
                                            borderColor: [
                                                'rgb(255, 99, 132)',
                                                'rgb(255, 159, 64)',
                                                'rgb(255, 205, 86)',
                                                'rgb(75, 192, 192)',
                                                'rgb(54, 162, 235)',
                                                'rgb(153, 102, 255)',
                                                'rgb(201, 203, 207)'
                                            ],
                                            borderWidth: 1
                                        }]
                                    },
                                    options: {
                                        scales: {
                                            y: {
                                                beginAtZero: true
                                            }
                                        }
                                    }
                                });
                            });
                        </script>

                        <!-- End Bar CHart -->

                    </div>
                </div>
            </div>
            <!-- revenue total -->
            <div class="col-xxl-6 col-md-12">
                <div class="row">
                    <div class="col-xxl-6 col-md-4">
                        <div class="card info-card revenue-card">
                            <div class="card-body">
                                <h5 class="card-title">Revenue Totals </h5>
                                <div class="d-flex align-items-center">
                                    <div
                                        class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-currency-dollar"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>$3,264</h6>
                                        <span class="text-success small pt-1 fw-bold">8%</span> <span
                                            class="text-muted small pt-2 ps-1">increase</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-6 col-md-4">
                        <div class="card info-card revenue-card">
                            <div class="card-body">
                                <h5 class="card-title">Revenue de ce mois </h5>
                                <div class="d-flex align-items-center">
                                    <div
                                        class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-currency-dollar"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>$3,264</h6>
                                        <span class="text-success small pt-1 fw-bold">8%</span> <span
                                            class="text-muted small pt-2 ps-1">increase</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-6 col-md-4">
                        <div class="card info-card revenue-card">
                            <div class="card-body">
                                <h5 class="card-title">Revenue de cette l'annee </h5>
                                <div class="d-flex align-items-center">
                                    <div
                                        class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-currency-dollar"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>$3,264</h6>
                                        <span class="text-success small pt-1 fw-bold">8%</span> <span
                                            class="text-muted small pt-2 ps-1">increase</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Left side columns -->
            <div class="col-lg-12">
                <div class="row">
                    <!-- revenue clients/distributeur -->
                    <div class="col-xxl-4 col-md-6">
                        <div class="card info-card sales-card">
                            <div class="card-body">
                                <h5 class="card-title">Revenus clients/distributeurs</h5>

                                <div class="d-flex align-items-center">
                                    <div
                                        class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-cart"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>{{total_vente_client|intcomma}} fcfa</h6>
                                        <span class="text-success small pt-1 fw-bold">{{montant_total_revenue_client|intcomma}} fcfa</span> <span
                                            class="text-muted small pt-2 ps-1">Benefice</span>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- revenue projet -->
                    <div class="col-xxl-4 col-md-6">
                        <div class="card info-card revenue-card">
                            <div class="card-body">
                                <h5 class="card-title">Revenus projets</h5>

                                <div class="d-flex align-items-center">
                                    <div
                                        class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-currency-dollar"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>{{total_projet|intcomma}} fcfa</h6>
                                        <span class="text-success small pt-1 fw-bold">{{benefice_total|intcomma}} fcfa</span> <span
                                            class="text-muted small pt-2 ps-1">benefice</span>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- utilisateurs -->
                    <div class="col-xxl-4 col-xl-4">
                        <div class="card info-card customers-card">

                            <div class="card-body">
                                <h5 class="card-title">Utilisateurs</h5>
                                <div class="d-flex align-items-center">
                                    <div
                                        class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-people"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>{{users.count}}</h6>
                                        <span class="text-danger small pt-1 fw-bold">{{userStaff.count}}</span> <span
                                            class="text-muted small pt-2 ps-1">adminstrateurs</span>

                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                    <!-- distributeurs -->
                    <div class="col-xxl-4 col-xl-4">
                        <div class="card info-card customers-card">
                            <div class="card-body">
                                <h5 class="card-title">Distributeurs</h5>

                                <div class="d-flex align-items-center">
                                    <div
                                        class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-receipt"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>{{distributeurs.count}}</h6>
                                        <span class="text-danger small pt-1 fw-bold">{{valid_count}}</span> <span
                                            class="text-muted small pt-2 ps-1">valide</span>

                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                    <!-- partenaires -->
                    <div class="col-xxl-4 col-xl-4">
                        <div class="card info-card customers-card">
                            <div class="card-body">
                                <h5 class="card-title">Partenaires</h5>

                                <div class="d-flex align-items-center">
                                    <div
                                        class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-people-fill"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>{{partenaires.count}}</h6>
                                        <span class="text-danger small pt-1 fw-bold">{{valid_partenaires}}</span> <span
                                            class="text-muted small pt-2 ps-1">en cours</span>

                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                    <!-- produits -->
                    <div class="col-xxl-4 col-xl-4">
                        <div class="card info-card customers-card">

                            <div class="card-body">
                                <h5 class="card-title">Produits</h5>

                                <div class="d-flex align-items-center">
                                    <div
                                        class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-wrench"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>{{produits.count}}</h6>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                    <!-- barres -->
                    <div class="col-xxl-4 col-xl-4">
                        <div class="card info-card customers-card">
                            <div class="card-body">
                                <h5 class="card-title">Stocks barres</h5>

                                <div class="d-flex align-items-center">
                                    <div
                                        class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-wrench"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>{{fersBarre.count}}</h6>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                    <!-- rouleaux -->
                    <div class="col-xxl-4 col-xl-4">

                        <div class="card info-card customers-card">

                            <div class="card-body">
                                <h5 class="card-title">Stocks rouleaux</h5>

                                <div class="d-flex align-items-center">
                                    <div
                                        class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-wrench"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>{{fersRouleau.count}}</h6>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                    <!-- commandes client -->
                    <div class="row">
                        <div class="col-md-7">
                            <div class="card recent-sales overflow-auto">
                                <div class="card-body">
                                    <h5 class="card-title">Commandes clients </h5>
                                    <table class="table table-borderless datatable">
                                        <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Client</th>
                                                <th scope="col">Prix (fcfa)</th>
                                                <th scope="col">Statut</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for order in orders %}
                                            <tr>
                                                <td><a href="{% url 'order.detail' order.id %}"
                                                        class="text-primary">{{order.created_at|date:"dmy"}}B-iron{{order.id}}</a>
                                                </td>
                                                <td>{{order.infoclient.nom}}</td>
                                                <td>{{order.get_prix_total|intcomma}}</td>
                                                <th>
                                                    {% if order.get_statut_actuel == "en_attente" %}
                                                    <span class="badge bg-warning text-dark">
                                                        {{order.get_statut_actuel}}
                                                    </span>
                                                    {%endif%}
                                                    {% if order.get_statut_actuel == "en_production" %}
                                                    <span class="badge bg-primary text-dark">
                                                        {{order.get_statut_actuel}}
                                                    </span>
                                                    {%endif%}
                                                    {% if order.get_statut_actuel == "pret_pour_livraison" %}
                                                    <span class="badge bg-info text-dark">
                                                        {{order.get_statut_actuel}}
                                                    </span>
                                                    {%endif%}
                                                    {%if order.get_statut_actuel == "solde_facture" %}
                                                    <span class="badge bg-secondary text-dark">
                                                        {{order.get_statut_actuel}}
                                                    </span>
                                                    {%endif%}
                                                    {%if order.get_statut_actuel == "termine" %}
                                                    <span class="badge bg-success text-dark">
                                                        {{order.get_statut_actuel}}
                                                    </span>
                                                    {%endif%}

                                                </th>
                                            </tr>
                                            {%empty%}
                                            <tr>
                                                <td colspan="4" class="text-center">
                                                    <img src="{% static 'nodata.png'%}" alt="" height="100px">
                                                    <br>
                                                    <span>Acune commande n'a ete trouve</span>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>

                                </div>

                            </div>
                        </div><!-- End Recent Sales -->
                        <div class="col-md-5">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Commandes clients</h5>
                                    <!-- Donut Chart -->
                                    <div id="donutChart"></div>
                                    <script>
                                        document.addEventListener("DOMContentLoaded", () => {
                                            new ApexCharts(document.querySelector("#donutChart"), {
                                                series: [44, 55, 13, 43,65],
                                                chart: {
                                                    height: 500,
                                                    type: 'donut',
                                                    toolbar: {
                                                        show: true
                                                    }
                                                },
                                                labels: ['en production', 'termine', 'en attente','solde facture','pret pour livraison'],
                                            }).render();
                                        });
                                    </script>
                                    <!-- End Donut Chart -->

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- commandes parrtenaires -->
                    <div class="row">
                        <div class="col-md-7">
                            <div class="card recent-sales overflow-auto">

                                <div class="card-body">
                                    <h5 class="card-title">Commandes partenaires </h5>

                                    <table class="table table-borderless datatable">
                                        <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">partanaire</th>
                                                <th scope="col">Projet</th>
                                                <th scope="col">Statut</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for order in projetsOrders %}
                                            <tr>
                                                <td><a href="{% url 'partenariat.orders.details' order.id %}"
                                                        class="text-primary">{{order.created_at|date:"dmy"}}B-iron{{order.id}}</a>
                                                </td>
                                                <td>{{order.projet.partenariat}}</td>
                                                <td>{{order.projet}}</td>
                                                <th>
                                                    {% if order.get_statut_actuel == "en_attente" %}
                                                    <span class="badge bg-warning text-dark">
                                                        {{order.get_statut_actuel}}
                                                    </span>
                                                    {%endif%}
                                                    {% if order.get_statut_actuel == "en_production" %}
                                                    <span class="badge bg-primary text-dark">
                                                        {{order.get_statut_actuel}}
                                                    </span>
                                                    {%endif%}
                                                    {% if order.get_statut_actuel == "pret_pour_livraison" %}
                                                    <span class="badge bg-info text-dark">
                                                        {{order.get_statut_actuel}}
                                                    </span>
                                                    {%endif%}
                                                    {%if order.get_statut_actuel == "solde_facture" %}
                                                    <span class="badge bg-secondary text-dark">
                                                        {{order.get_statut_actuel}}
                                                    </span>
                                                    {%endif%}
                                                    {%if order.get_statut_actuel == "termine" %}
                                                    <span class="badge bg-success text-dark">
                                                        {{order.get_statut_actuel}}
                                                    </span>
                                                    {%endif%}

                                                </th>
                                            </tr>
                                            {%empty%}
                                            <tr>
                                                <td colspan="4" class="text-center">
                                                    <img src="{% static 'nodata.png'%}" alt="" height="100px">
                                                    <br>
                                                    <span>Acune commande n'a ete trouve</span>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Commandes partenaires</h5>
                                    <!-- Pie Chart -->
                                    <div id="pieChart"></div>
                                    <script>
                                        document.addEventListener("DOMContentLoaded", () => {
                                            new ApexCharts(document.querySelector("#pieChart"), {
                                                series: [44, 55, 13, 43],
                                                chart: {
                                                    height: 350,
                                                    type: 'pie',
                                                    toolbar: {
                                                        show: true
                                                    }
                                                },
                                                labels: ['en production', 'termine', 'en attente','pret pour livraison']
                                            }).render();
                                        });
                                    </script>
                                    <!-- End Pie Chart -->

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- projet -->
                    <div class="row">
                        <div class="col-md-7">
                            <div class="card recent-sales overflow-auto">
                                <div class="card-body">
                                    <h5 class="card-title">Projets</h5>
                                    <table class="table table-borderless datatable">
                                        <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Projet</th>
                                                <th scope="col">Montant</th>
                                                <th scope="col">Remise</th>
                                                <th scope="col">Statut</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for projet in projets %}
                                            <tr>
                                                <th scope="row"><a
                                                        href="{% url 'partenariat.projet.detail' projet.id %}">{{projet.created_at|date:"dmy"}}B-iron{{projet.id}}</a>
                                                </th>
                                                <td>{{projet.name}}</td>
                                                <td>{{projet.montant_total}}</td>
                                                <td>{{projet.reduction}}%</td>

                                                {% if projet.get_statut == 'en cours' %}
                                                <td><span class="badge bg-primary">{{projet.get_statut}}</span></td>
                                                {% else %}
                                                <td><span class="badge bg-success">{{projet.get_statut}}</span></td>
                                                {% endif %}
                                            </tr>
                                            {% empty %}
                                            <tr>
                                                <td colspan="4" class="text-center">
                                                    <img src="{% static 'nodata.png'%}" alt="" height="100px" />
                                                    <br />
                                                    <span>Acun projet trouver</span>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>

                                </div>

                            </div>
                        </div>
                        <div class="col-md-5">
                            <!-- End Website Traffic -->
                            <div class="card">
                                 <div class="card-body">
                                    <h5 class="card-title">Projet</h5>
                                    <!-- Pie Chart -->
                                    <div id="pieChart2"></div>
                                    <script>
                                        document.addEventListener("DOMContentLoaded", () => {
                                            new ApexCharts(document.querySelector("#pieChart2"), {
                                                series: [44, 55],
                                                chart: {
                                                    height: 350,
                                                    type: 'pie',
                                                    toolbar: {
                                                        show: true
                                                    }
                                                },
                                                labels: ['en cours', 'termine']
                                            }).render();
                                        });
                                    </script>
                                    <!-- End Pie Chart -->

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- End Left side columns -->
        </div>
    </section>

</main><!-- End #main -->
{% endblock %}