<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>bending iron</title>
</head>

<body>
    <h3>Salut {{ user.first_name }} le statut de votre commande a changer</h3>
    <br>
    <p>Le statut de votre commande N°{{order.created_at|date:"dmy"}}B-iron{{order.id}} à changer</p>
    <p>Pour consulter le nouveau statut de votre commande :</p>
    <ol type="1">
        <li>Ouvrez une <b>session dans votre compte</b></li>
        <li>Cliquez sur <b>commande</b></li>
        <li>Parcourez le tableau jusqu'a la colonne <b>action</b></li>
        <li>Cliquez sur l'<b>objet presente dans cette colonne</b>pour voir le nouveau statut de votre commande</li>
    </ol>
    <a href="www.bending-iron.com">Se connecter</a>
    <br>
    <p>Cordialement,</p>
    <p><b>L'équipe BENDING IRON.</b></p>
</body>

</html>