{% extends 'appf.html' %}

{% block 'title' %}
plitique de confidentialite
{% endblock %}


{% block 'content' %}
{% load static %}
<style>
    [id] {
        scroll-margin-top: 80px;
        /* adapte selon la hauteur de ton header */
    }
</style>
<!--/ Header end -->
<div id="banner-area" class="banner-area"
    style="background-image:url({%static 'front/images/banner/confidentialite.jpg'%}">
    <div class="banner-text">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="banner-heading">
                        <h1 class="banner-title text-warning">POLITIQUE DE CONFIDENTIALITÉ </h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-center">
                                <li class="breadcrumb-item"><a href="#">Accueil</a></li>
                                <li class="breadcrumb-item"><a href="#">Politique de confidentialité </a></li>
                            </ol>
                        </nav>
                    </div>
                </div><!-- Col end -->
            </div><!-- Row end -->
        </div><!-- Container end -->
    </div><!-- Banner text end -->
</div><!-- Banner area end -->
<section id="main-container" class="main-container">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="#1">Politique de confidentialité </a></li>
                    <li class="list-group-item"><a href="#2">Informations d'identification personnelle</a></li>
                    <li class="list-group-item"><a href="#3">Informations d'identification non personnelles</a></li>
                    <li class="list-group-item"><a href="#11">Cookies du navigateur Web</a></li>
                    <li class="list-group-item"><a href="#4">Comment nous utilisons les informations collectées</a></li>
                    <li class="list-group-item"><a href="#5">Comment nous protégeons vos données personnelles</a></li>
                    <li class="list-group-item"><a href="#6">Promotion de la sûreté et de la sécurité</a></li>
                    <li class="list-group-item"><a href="#7">Partage de vos informations personnelles</a></li>
                    <li class="list-group-item"><a href="#8">Informations sensibles</a></li>
                    <li class="list-group-item"><a href="#9">Mises à jour de cette politique</a></li>
                    <li class="list-group-item"><a href="#10">Comment nous contacter</a></li>
                    <li class="list-group-item"></li>
                </ul>
            </div>
            <div class="col-md-9">
                <h3 class="ts-facts-title text-warning" id="1">Politique de confidentialité</h3>
                <p>
                    Cette politique de confidentialité régit la manière dont BENDING IRON collecte, utilise, conserve et
                    divulgue les informations collectées auprès des utilisateurs du site Web www.bending-iron.com .
                    Cette politique de confidentialité s'applique au Site et à tous les produits et services proposés
                    par BENDING IRON.
                </p>
                <h3 class="ts-facts-title text-warning" id="2">Informations d'identification personnelle</h3>
                <p>
                    Nous pouvons recueillir des informations d'identification personnelle auprès des utilisateurs de
                    diverses manières, mais sans s'y limiter, lorsque les utilisateurs visitent notre site, remplissent
                    un formulaire lors de la création d’un compte et dans le cadre d'autres activités, services,
                    fonctionnalités ou ressources que nous mettons à disposition sur notre site. Les utilisateurs
                    peuvent être invités à fournir, le cas échéant, leur nom et leur adresse e-mail. Les utilisateurs
                    peuvent toutefois visiter notre site de manière anonyme. Nous ne recueillerons des informations
                    d'identification personnelle auprès des utilisateurs que s'ils nous les soumettent volontairement.
                    Les utilisateurs peuvent toujours refuser de fournir des informations d'identification personnelle,
                    mais cela peut les empêcher de participer à certaines activités liées au site.
                </p>
                <h3 class="ts-facts-title text-warning" id="3">Informations d'identification non personnelles</h3>
                <p>
                    BENDING IRON peut également collecter et utiliser des informations non personnellement identifiables
                    (Non-PII). Les non-PII sont des informations qui ne peuvent pas être utilisées pour identifier une
                    personne en particulier. Par exemple, BENDING IRON collectera des données statistiques, telles que
                    le nombre de visites sur son site Web. Nous recueillons ces données pour comprendre comment les
                    utilisateurs utilisent nos sites Web, produits et services afin que nous puissions mieux améliorer
                    nos services. BENDING IRON peut collecter, utiliser, traiter, transférer ou divulguer des Non-PII à
                    d'autres fins à sa seule discrétion.

                    Nous nous efforcerons d'isoler vos données personnelles des Non-PII et de veiller à ce que les deux
                    types de données soient utilisés séparément. Si des données personnelles sont combinées avec des
                    non-PII, elles seront toujours traitées comme des données personnelles lors du traitement.

                </p>
                <h3 class="ts-facts-title text-warning" id="11">Cookies du navigateur Web</h3>
                <p>
                    Notre site peut utiliser des « cookies » pour améliorer l'expérience utilisateur. Le navigateur Web
                    de l'utilisateur place des cookies sur son disque dur à des fins d'archivage et parfois pour suivre
                    les informations le concernant. L'utilisateur peut choisir de configurer son navigateur Web pour
                    refuser les cookies ou pour vous avertir lorsque des cookies sont envoyés. Si tel est le cas, sachez
                    que certaines parties du site peuvent ne pas fonctionner correctement.
                </p>
                <h3 class="ts-facts-title text-warning" id="4">Comment nous utilisons les informations collectées</h3>
                <p>
                    BENDING IRON peut collecter et utiliser les informations personnelles des utilisateurs aux fins
                    suivantes :
                <ul>
                    <li>Création d’un compte</li>
                    <li>Pour améliorer le service client</li>
                </ul>
                Les informations que vous fournissez nous aident à répondre à vos demandes de transaction ou de service,
                y compris l'exécution des commandes ; livrer. Vous contacter avec votre consentement
                <ul>
                    <li>Pour personnaliser l’expérience utilisateur
                        Nous pouvons utiliser les informations dans leur ensemble pour comprendre comment nos
                        utilisateurs, en tant que groupe, utilisent les services et les ressources fournis sur notre
                        site.</li>
                    <li> Nous pouvons utiliser les commentaires que vous fournissez pour améliorer nos produits et
                        services.
                    <li>Pour envoyer des e-mails périodiques
                        Nous pouvons utiliser l’adresse e-mail pour répondre à leurs demandes de renseignements,
                        questions et/ou autres demandes.</li>
                    <li> Dépannage lorsque vous nous envoyez des rapports d'erreur</li>

                </ul>
                </p>
                <h3 class="ts-facts-title text-warning" id="5">Comment nous protégeons vos données personnelles</h3>
                <p>
                    La sécurité de vos données personnelles est importante pour nous. Nous utilisons des mesures
                    physiques, de gestion et techniques appropriées pour protéger vos données personnelles contre tout
                    accès, divulgation, utilisation, modification, dommage ou perte non autorisée. Par exemple, nous
                    utilisons des technologies cryptographiques pour la confidentialité des données, des mécanismes de
                    protection pour prévenir les attaques et des mécanismes de contrôle d'accès pour autoriser
                    uniquement l'accès autorisé à vos données personnelles. Cependant, veuillez noter qu'aucune mesure
                    de sécurité n'est parfaite.
                    Nous ne conserverons pas vos informations personnelles plus longtemps que nécessaire aux fins
                    énoncées dans la présente politique, sauf si une prolongation de la période de conservation est
                    requise ou autorisée par la loi. La période de stockage des données peut varier selon le scénario,
                    le produit et le service. Les normes utilisées par BENDING IRON pour déterminer la période de
                    conservation sont les suivantes : le temps nécessaire pour conserver les données personnelles à des
                    fins commerciales, y compris la fourniture de produits et de services ; tenir à jour les
                    transactions et les dossiers commerciaux correspondants ; contrôler et améliorer la performance et
                    la qualité des produits et services ; assurer la sécurité des systèmes, produits et services ;
                    traiter les éventuelles requêtes ou plaintes des utilisateurs et localiser les problèmes ; si
                    l'utilisateur accepte une période de conservation plus longue ; et si les lois, contrats et autres
                    équivalences ont des exigences particulières pour la conservation des données ; etc. Nous
                    conserverons vos informations d'enregistrement aussi longtemps que votre compte sera nécessaire pour
                    la fourniture du service. Vous pouvez choisir de désinscrire votre compte. Après la désinscription
                    de votre compte, nous cesserons de vous fournir des produits et services via votre compte et
                    supprimerons vos données personnelles pertinentes, à condition que la suppression ne soit pas
                    autrement stipulée par des exigences légales particulières.


                </p>
                <h3 class="ts-facts-title text-warning" id="6">Promotion de la sûreté et de la sécurité</h3>
                <p>
                    Sous réserve de votre consentement exprès préalable, nous pouvons utiliser certaines mesures
                    technologiques pour protéger vos données personnelles afin d'aider à vérifier les comptes et les
                    activités normales des utilisateurs, ainsi que pour promouvoir la sécurité et la sécurité des
                    données, par exemple en surveillant la fraude et en enquêtant sur des activités suspectes ou
                    potentiellement illégales ou violations de nos conditions ou politiques. Un tel traitement est basé
                    sur notre intérêt légitime à contribuer à assurer la sécurité de nos produits et services.
                </p>
                <h3 class="ts-facts-title text-warning" id="7">Partage de vos informations personnelles</h3>
                <p>
                    Nous ne vendons, n'échangeons ni ne louons les informations d'identification personnelle des
                    utilisateurs à des tiers. Nous pouvons partager des informations démographiques agrégées génériques
                    non liées à des informations d'identification personnelle concernant les visiteurs et les
                    utilisateurs avec nos partenaires commerciaux, nos sociétés affiliées de confiance et nos annonceurs
                    aux fins décrites ci-dessus. Nous pouvons faire appel à des prestataires de services tiers pour nous
                    aider à exploiter notre entreprise et le site ou à administrer des activités en notre nom, telles
                    que l'envoi de newsletters ou d'enquêtes. Nous pouvons partager vos informations avec ces tiers à
                    ces fins limitées, à condition que vous nous ayez donné votre autorisation.
                </p>
                <h3 class="ts-facts-title text-warning" id="8">Informations sensibles</h3>
                <p>En général, nous vous demandons de ne pas nous envoyer ou divulguer, par le biais des Services ou
                    autrement, des informations personnelles sensibles (par ex. numéros de sécurité sociale,
                    informations relatives à l'origine raciale ou ethnique, opinions politiques, croyances religieuses
                    ou autres, santé, données biométriques ou caractéristiques génétiques, antécédents criminels ou
                    appartenance à un syndicat). Si vous choisissez de nous soumettre ces informations, ou si nous en
                    faisons la demande dans le cadre d'une enquête sur une plainte ou un litige impliquant les Services,
                    nous collectons et traitons ces informations conformément à la loi applicable.
                </p>
                <h3 class="ts-facts-title text-warning" id="9">Mises à jour de cette politique</h3>
                <p>
                    BENDING IRON se réserve le droit de mettre à jour ou de modifier cette politique à tout moment. Nous
                    publierons la dernière politique de confidentialité sur cette page pour tout changement. Si des
                    modifications majeures sont apportées à la politique de confidentialité, nous pouvons vous en
                    informer par différents canaux, par exemple en publiant un avis sur notre site Web ou en vous
                    envoyant une notification directe.
                </p>
                <h3 class="ts-facts-title text-warning" id="10">Comment nous contacter</h3>
                <p>Contact direct <br>
                    Si vous avez des plaintes ou des problèmes de confidentialité, veuillez contacter BENDING IRON.
                    Courriel : bendingiron.info@gmail.com
<br>
                    Ce document a été mis à jour pour la dernière fois le 01 juin 2025

                </p>
            </div>
        </div><!-- Content row end -->

    </div><!-- Container end -->
</section><!-- Main container end -->

{%endblock%}